{% from "erpnext/templates/includes/cart/cart_macros.html" import show_address %}

{% if addresses | length == 1%}
	{% set select_address = True %}
{% endif %}

<div class="mb-3" data-section="shipping-address">
	<h6 class="text-uppercase">{{ _("Shipping Address") }}</h6>
	<div class="row no-gutters" data-fieldname="shipping_address_name">
		{% for address in shipping_addresses %}
			<div class="mr-3 mb-3 w-25" data-address-name="{{address.name}}" data-address-type="shipping" {% if doc.shipping_address_name == address.name %} data-active {% endif %}>
				{% include "templates/includes/cart/address_card.html" %}
			</div>
		{% endfor %}
	</div>
</div>
<div class="mb-3" data-section="billing-address">
	<h6 class="text-uppercase">{{ _("Billing Address") }}</h6>
	<div class="row no-gutters" data-fieldname="customer_address">
		{% for address in billing_addresses %}
			<div class="mr-3 mb-3 w-25" data-address-name="{{address.name}}" data-address-type="billing" {% if doc.customer_address == address.name %} data-active {% endif %}>
				{% include "templates/includes/cart/address_card.html" %}
			</div>
		{% endfor %}
	</div>
</div>
<div class="custom-control custom-checkbox">
	<input type="checkbox" class="custom-control-input" id="input_same_billing" checked>
	<label class="custom-control-label" for="input_same_billing">{{ _('Billing Address is same as Shipping Address') }}</label>
</div>
<button class="btn btn-outline-primary btn-sm mt-3 btn-new-address">{{ _("Add a new address") }}</button>

<script>{% include "templates/includes/cart/cart_address.js" %}</script>
