{% from "erpnext/templates/includes/macros.html" import product_image_square %}

{% macro item_name_and_description(d) %}
	<div class="row item_name_and_description">
		{% if d.thumbnail or d.image %}
		<div class="col-4 col-sm-2 order-image-col">
			<div class="order-image h-100">
				{{ product_image_square(d.thumbnail or d.image) }}
			</div>
		</div>
		{% endif %}
		<div class="{% if d.thumbnail or d.image %}col-8 col-sm-10{% else %}col-12{% endif %}">
			{{ d.item_name }}
			<div class="text-muted small item-description">
				{{ html2text(d.description) | truncate(140) }}
			</div>
			{% if d.item_booking %}
			{% set item_booking_doc = frappe.db.get_value('Item Booking', d.item_booking, ['starts_on', 'ends_on'], as_dict=True) %}
			<div class="text-muted small item-description mb-3">
				{{ frappe.utils.format_datetime(item_booking_doc.starts_on) }} - {{ frappe.utils.format_datetime(item_booking_doc.ends_on) }}
			</div>
			{% endif %}
		</div>
	</div>
{% endmacro %}

{% macro item_name_and_description_cart(d) %}
	<div class="row item_name_dropdown">
		<div class="col-4 col-sm-4 order-image-col">
			<div class="order-image">
			 {{ product_image_square(d.thumbnail or d.image) }}
			</div>
		</div>
		<div class="col-8 col-sm-8">
		   {{ d.item_name|truncate(25) }}
			<div class="input-group number-spinner">
				<span class="input-group-btn">
					<button class="btn btn-light cart-btn" data-dir="dwn">
						–</button>
				</span>
				<input class="form-control text-right cart-qty"
					value = "{{ d.get_formatted('qty') }}"
					data-item-code="{{ d.item_code }}">
				<span class="input-group-btn">
					<button class="btn btn-light cart-btn" data-dir="up">
						+</button>
				</span>
			</div>
		</div>
	</div>
{% endmacro %}